
<div class="d-flex flex-column align-items-center">

  <h2 class="text-light mt-2">Shared component</h2>

  <div class="m-4 d-flex justify-content-center">
    <button class="btn btn-success" (click)="changeInput()">Change input</button>
  </div>

  <app-input-shared
    type="number"
    name="edad"
  ></app-input-shared>

  <app-input-shared
    [type]="inputType"
    [name]="inputType"
  ></app-input-shared>

  <h2 class="text-light mt-2">Inherited component</h2>

  <app-input-advanced
    customType="date"
    class="m-3"
  ></app-input-advanced>

  <app-input-checkbox
    type="checkbox"
    [checked]=false
  ></app-input-checkbox>

</div>
